body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hamburger{
  background:none;
  position:relative;
  /*top:0;
  right:0;*/
  float: right;
  line-height:45px;
  padding: 25px 25px 0px 15px;
  color: #FFFFFF;
  border:0;
  font-size:2.5em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:relative;
  /*top:0px;
  right:0;*/
  float: right;
  padding:35px 25px 0px 15px;
  color:#FFFFFF;
  border:0;
  font-size:4.0em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; margin: auto; background:#E29E43;  position:relative; text-align:center; font-size:1.2em;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0;}
.menu li:hover{display: block;    background:#E29E43; padding:15px 0 15px 0;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#FFFFFF;}
.menu ul li a:hover {  color: #7F0406; text-decoration:none;}
.menu a{text-decoration:none; color:#FFFFFF;}
.menu a:hover{text-decoration:none; color:#7F0406;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
span{padding-left:20px;}
a{color:#336699;}